@model CreateStudentViewModel

@{
    ViewData["Title"] = "Create Student";
}

<form method="post" asp-controller="Student" asp-action="CreateStudent">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row mb-3">
        <label asp-for="@Model.FirstName" class="col-form-label col-md-2" ></label>
        <div class="col-md-6">
            <input asp-for="@Model.FirstName" class="form-control" />
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="@Model.Initials" class="col-form-label col-md-2"></label>
        <div class="col-md-6">
            <input asp-for="@Model.Initials" class="form-control" />
            <span asp-validation-for="@Model.Initials" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="@Model.LastName" class="col-form-label col-md-2"></label>
        <div class="col-md-6">
            <input asp-for="@Model.LastName" class="form-control" />
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="@Model.Gender" class="col-form-label col-md-2"></label>
        <div class="col-md-6">
            <select asp-for="@Model.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control form-select">

            </select>
            <span asp-validation-for="@Model.Gender" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="@Model.EnrollmentDate" class="col-form-label col-md-2"></label>
        <div class="col-md-6">
            <input asp-for="@Model.EnrollmentDate" class="form-control" />
            <span asp-validation-for="@Model.EnrollmentDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <button type="submit" class="btn btn-primary col-md-2 me-2">Create</button>
        <a asp-controller="Student" asp-action="Index" class="btn btn-secondary col-md-2">Cancel</a>
    </div>
</form>
